// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// SweetAlert
@import "sweetalert";

/*
 * Globals
 */

span.greencheck {
  position: relative;
  top: 3px;
}

.badge-liked {
  background: limegreen;
  font-family: courier;
}

.badge-unliked {
  background: dodgerblue;
  font-family: courier;
}

img.likeable-p, img.likeable-c {
  height: 21px;
  width: 21px;
  position: relative;
  bottom: 2px;
  cursor: pointer;
}

img.likeable-p:hover, img.likeable-c:hover {
  height: 28px;
  width: 28px;
}

html {
  background: #3a3f44;
}

.has-error .control-label {
  text-shadow: 2px 2px 4px #000000;
  font-size: 2rem;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
  background: linear-gradient( 0deg, #272b30, #3a3f44 50%, #272b30);
  border-color: #3a3f44;
}
.btn-primary:hover,
.btn-primary:focus {
  background: linear-gradient( 0deg, #272b30, #777 50%, #272b30);
  border-color: #3a3f44;
  cursor: pointer;
}

body {
  background: linear-gradient( 135deg, #272b30, #777 60%, #272b30);
  color: #c8c8c8;
  cursor: default;
  font-family: Georgia, "Times New Roman", Times, serif;
}
a, a:link, a:visited, a:hover, a:active, a:focus {
  color: white;
}
.panel-heading a:hover, .panel-body a:hover,
.panel-heading a:focus, .panel-body a:focus, {
  color: #888;
  cursor: pointer;
  text-shadow: 2px 2px 5px black, 0 0 2px darkgrey;
}
footer.blog-footer a {
  color: royalblue;
  text-shadow: 2px 2px 4px #000000;
}
footer.blog-footer a:hover,
footer.blog-footer a:focus, {
  color: lightblue;
  text-shadow: 2px 2px 5px black, 0 0 10px white, 0 0 5px white;
}
#fileUploadBtn.btn-default:hover {
  background: #aaa;
}

.blog-sidebar h4 {
  color: dodgerblue;
  font-weight: bold;
}
.blog-sidebar a {
  color: dodgerblue;
}
.blog-sidebar a:hover,
.blog-sidebar a:focus, {
  font-weight: bold;
}
.panel, .panel-body {
  background: #272b30;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  border-color: #333;
  color: #c8c8c8;
}
.panel .panel-footer, .list-group-item {
  background: #3a3f44;
}
.panel-body img {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0
   rgba(255, 255, 255, 0.19);
}
.panel-default > .panel-heading {
  background: linear-gradient( 0deg, #272b30, #3a3f44 50%, #272b30);
  color: #c8c8c8;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #c8c8c8;
}
label {
  color: #c8c8c8;
}

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
/*
 * Masthead for nav
 */

.blog-masthead {
  background: linear-gradient( 0deg, #272b30, #3a3f44 50%, #272b30);
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
  text-shadow: 5px 5px 20px black, 0 0 50px white, 0 0 25px white;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.9;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #eee;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}


/*
 * Footer
 */
.blog-footer h3 {
  color: #aaa;
  text-shadow: 2px 2px 4px #000000;
}
.blog-footer {
  padding: 40px 0;
  color: #c8c8c8;
  text-align: center;
  background: #3a3f44;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
.flash-message {
    position: absolute;
    z-index: 10;
    bottom: 20px;
    right: 20px;
}
#scroll-btn {
  position: fixed;
  bottom: 3px;
  right: 10px;
  z-index: 1000;
  opacity: 0.4;
  display: none;
  border-radius: 45px;
}
#scroll-btn:hover, #scroll-btn:focus {
  opacity: 1;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    background: #f5f8fa;
    font-weight: bold;
}
#fileUploadBtn:hover {
    background: #ccc;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.vertical-center {
  min-height: 100% - 10;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh - 10; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
.pink {
    color: hotpink;
}
#bm-img {
    height: 32px;
    width: 32px;
    position: relative;
    top: -5px;
}

@media (max-width: 420px) {
  #scroll-btn {
    opacity: .7;
    display: inline;
  }

}

/* Popover */
  .popover {
      border: 2px solid #272b30;
  }
  /* Popover Header */
  .popover-title {
      background: linear-gradient( 0deg, #272b30, #3a3f44 50%, #272b30);
      color: #c8c8c8;
      font-family: georgia;
      font-size: 28px;
      font-weight: bold;
      text-align:center;
  }
  /* Popover Body */
  .popover-content {
      background: grey;
      border: 1px solid #333;
      color: black;
      font-family: georgia;
      font-size: 1.75rem;
      font-weight: bold;
      padding: 25px;
      text-shadow: 1px 1px 1px #aaa;
  }
  /* Popover Arrow */
  .arrow {
      border-right-color: black !important;
  }
  #searchH2 {
    margin-bottom: 25px;
  }
  
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777777;
  background-color: #272b30;
  border-color: #000;
  cursor: not-allowed;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #fff;
  background-color: #272b30;
  border: 1px solid #000;
  margin-left: -1px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #fff;
  background-color: #777;
  border-color: #000;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #272b30;
  background-color: #fff;
  border-color: #000;
  cursor: default;
}
